@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

html {
    font-family: 'Kalam', cursive; 
    background-color: #19589eb4;
    color: #fff;
}

h2 {text-decoration: wavy underline;}
ul, p {color: black; font-family: sans-serif;}

h1 {
    text-align: center; text-shadow: 1px 1px 4px black;
}

.image1 {
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    filter: (drop-shadow) 10px 10px 5px black;

}