@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
html {font-family: 'Kalam', cursive;}
html {background-color: #19589eb4;}
html {color: #fff;}
h3 {text-decoration: wavy underline;}
li, ul, p {color: black}